<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
	<test name="goEuro Price Sorting Test">
	<parameter name="browser" value="chrome"></parameter>
	<parameter name="url" value="http://goeuro.com"></parameter>
		<classes>
			<class name="goeurotest.PriceSortingTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->